.results-container {
  width: 100%;
  margin: 10px auto 0 auto;
}

.grid-food {
  grid-area: food;
  padding: 18px;
  border-top-width: 1px;
  border-right-width: 0;
  border-bottom-width: 0;
  border-left-width: 1px;
  border-style: solid;
  border-color: black;
}

.grid-nutrient {
  grid-area: nutrient;
  border-top-width: 1px;
  border-right-width: 0;
  border-bottom-width: 0;
  border-left-width: 1px;
  border-style: solid;
  border-color: black;
}

.grid-value {
  grid-area: value;
  border-top-width: 1px; 
  border-right-width: 1px;
  border-bottom-width: 0;
  border-left-width: 0;
  border-style: solid;
  border-color: black;
}

.grid-nutrient li {
  line-height: 2;
}

.grid-value li {
  list-style-type:none;
  line-height: 2;
}

.outter-grid-container {
  width: 100%;
  display: grid;
  grid-template-columns: 40% 30% 30%;
  grid-template-rows: auto;
  grid-template-areas: 
    "food nutrient value"
}

.inner-grid-container {

}